<div id="<%= dom_id carro %>">
  <p>
    <strong>Hecho:</strong>
    <%= carro.hecho %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= carro.modelo %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= carro.año %>
  </p>

</div>
